################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OfficeSensor/.vs/OfficeSensor
/OfficeSensor/Common/obj/Debug
/OfficeSensor/Service/obj/Debug
/OfficeSensor/Service/bin/Debug
/OfficeSensor/OfficeSensor/bin/Debug
/OfficeSensor/Common/bin/Debug
