<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="65536"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00" />
			</netTcpBinding>
		</bindings>

		<services>
			<service name="Service.SensorService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000"/>
					</baseAddresses>
				</host>

				<endpoint
					address="SensorService"
					binding="netTcpBinding"
					bindingConfiguration="tcpBinding"
					contract="Common.ISensor" />

				<endpoint
					address="mex"
					binding="mexTcpBinding"
					contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
